In [ ]:
import pandas as pd 
import seaborn as sb
import matplotlib.pyplot as plt

In [ ]:
datasetfile=pd.read_csv('datasets/pinfo.csv')

In [ ]:
#show dataset information
#--------------------------------------------------------------------------------------------------#

In [275]:
#it is very important to know the type of every column because if they are defferint that's will effect
datasetfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64204 entries, 0 to 64203
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        64204 non-null  int64
 1   EnrollmentDate           64204 non-null  object
 2   CaseNumber               64204 non-null  object
 3   IndividualId             64204 non-null  object
 4   RationCard               64204 non-null  object
 5   Governorate              64204 non-null  object
 6   District                 64204 non-null  object
 7   Camp                     64204 non-null  object
 8   Tent                     64204 non-null  object
 9   ArabicName               64204 non-null  object
 10  EnglishName              64204 non-null  object
 11  MotherName               64204 non-null  object
 12  DateOfBirth              64204 non-null  object
 13  PhoneNumber              64204 non-null  object
 14  Documents                64204 non-null  object
 15  DocumentsNumbers         64204 non-null  object
 16  FSP                      64204 non-null  object
 17  MSIDIN #                 64204 non-null  int64
 18  date of transfer         64204 non-null  object
 19  Camp/ out of camp        64204 non-null  object
 20  Total Assistance amount  64204 non-null  object
 21  arennames                64204 non-null  object
 22  newfeature               64204 non-null  object
dtypes: int64(2), object(21)
memory usage: 6.1+ MB

In [ ]:
#4   RationCard               9192 non-null   object  that means 9192 of all values(which are 64204) are not null

In [274]:
pd.set_option("display.max.columns", None) #show all colmns in the screen
datasetfile.head()

,#,EnrollmentDate,CaseNumber,IndividualId,RationCard,Governorate,District,Camp,Tent,ArabicName,EnglishName,MotherName,DateOfBirth,PhoneNumber,Documents,DocumentsNumbers,FSP,MSIDIN #,date of transfer,Camp/ out of camp,Total Assistance amount,arennames,newfeature
0,25480,9/22/19,IRQ-19C419285,IRQ-03012784,empety,Al-Sulaymaniya,qaradagh,Ashti IDP,A113,قيصر خميس نايف عكاب,Qaisar Khamis Nayf Aljanaby,ضواهن مغامس خضير,8/5/98,07819157838#07738389135,7738389135,23,Asia Hawala,7700116570,24/02/2020,In- Camp,IQD 240000,قيصر خميس نايف عكابQaisar Khamis Nayf Aljanaby,قيصر خميس نايف عكابQaisar Khamis Nayf Aljanaby
1,25481,9/22/19,IRQ-19C419093,IRQ-03012592,empety,Al-Sulaymaniya,qaradagh,Ashti IDP,K041,حمزه احمد خلف احمد,Hamza Ahmed Khalf Ahmed,جميله مهنا عبد,5/15/97,07828357642#07738381470,7738381470,23,Asia Hawala,7700118609,24/02/2020,In- Camp,IQD 240000,حمزه احمد خلف احمدHamza Ahmed Khalf Ahmed,حمزه احمد خلف احمدHamza Ahmed Khalf Ahmed
2,25484,9/22/19,IRQ-19C418985,IRQ-03012484,empety,Al-Sulaymaniya,qaradagh,Ashti IDP,L097,شذره احمد محمد شكور,Shazra Ahmed Muhamed Shkwr,صالحه حسين علي,7/1/51,07700147366#07700655459,empety,empety,Asia Hawala,7700147366,24/02/2020,In- Camp,IQD 240000,شذره احمد محمد شكورShazra Ahmed Muhamed Shkwr,شذره احمد محمد شكورShazra Ahmed Muhamed Shkwr
3,25485,9/22/19,IRQ-19C420794,IRQ-03014293,empety,Al-Sulaymaniya,qaradagh,Ashti IDP,J224,لؤي نعمة مصلح جاسم,Luay Naama Muslih Jasm,غاليه عباس احمد,3/29/93,07824897595#07738386930,#REF!,23,Asia Hawala,7700147370,24/02/2020,In- Camp,IQD 240000,لؤي نعمة مصلح جاسمLuay Naama Muslih Jasm,لؤي نعمة مصلح جاسمLuay Naama Muslih Jasm
4,25486,9/22/19,IRQ-19C419818,IRQ-03013317,empety,Al-Sulaymaniya,qaradagh,Arbat IDP,C152,حياة محمد حسين علي,Hayat Muhammad Hussein Ali,مهديه عناد حايط,7/1/68,07824965055#07700656129,#REF!,23,Asia Hawala,7700147386,24/02/2020,In- Camp,IQD 240000,حياة محمد حسين عليHayat Muhammad Hussein Ali,حياة محمد حسين عليHayat Muhammad Hussein Ali

In [ ]:
pd.set_option("display.precision", 2)
datasetfile.tail()

In [ ]:
datasetfile.shape

In [210]:
datasetfile.describe()

              #  MSIDIN #
count  64204.00  6.42e+04
mean   32102.50  2.24e+12
std    18534.24  4.07e+12
min        1.00  7.70e+09
25%    16051.75  7.71e+09
50%    32102.50  7.74e+09
75%    48153.25  7.74e+09
max    64204.00  9.65e+12

In [ ]:
datasetfile.values
type(datasetfile.values)

In [276]:
datasetfile.index

RangeIndex(start=0, stop=64204, step=1)

In [ ]:
datasetfile.keys()
datasetfile.values

In [ ]:
datasetfile.axes

In [273]:
datasetfile.max() #print the max value of each column

#                                                                    64204
EnrollmentDate                                                      empety
CaseNumber                                                   IRQ-19C469245
IndividualId                                                        empety
RationCard                                                          empety
Governorate                                                         missan
District                                                             zakho
Camp                                                              laylan 2
Tent                                                     ِA B54 3 ِA B54 4
ArabicName                                             گيلان قحطان ابراهيم
EnglishName                                     ‌Qusay Sabah Khalaf Hassan
MotherName                                                  یازی نایف براك
DateOfBirth                                                         empety
PhoneNumber                                                           P-82
Documents                                                           empety
DocumentsNumbers                                                    empety
FSP                                                             Zain Cash
MSIDIN #                                                     9647906818164
date of transfer                                                  4/2/2020
Camp/ out of camp                                              Out of Camp
Total Assistance amount                                         IQD 240000
arennames                  گيلان قحطان ابراهيمGaelan Qahtan Ebraheem Alheb
newfeature                 گيلان قحطان ابراهيمGaelan Qahtan Ebraheem Alheb
dtype: object

In [253]:
#check data 
#---------------------------------------------------------------------------------#

In [272]:
cd=datasetfile[datasetfile['RationCard']]

KeyError: "None of [Index(['empety', 'empety', 'empety', 'empety', 'empety', 'empety', 'empety',\n       'empety', 'empety', 'empety',\n       ...\n       'empety', 'empety', 'empety', 'empety', 'empety', 'empety', 'empety',\n       'empety', 'empety', 'empety'],\n      dtype='object', length=64204)] are in the [columns]"

In [258]:
ds

In [256]:
#show all null as numbers for every feature
datasetfile.isnull().sum()

#                          0
EnrollmentDate             0
CaseNumber                 0
IndividualId               0
RationCard                 0
Governorate                0
District                   0
Camp                       0
Tent                       0
ArabicName                 0
EnglishName                0
MotherName                 0
DateOfBirth                0
PhoneNumber                0
Documents                  0
DocumentsNumbers           0
FSP                        0
MSIDIN #                   0
date of transfer           0
Camp/ out of camp          0
Total Assistance amount    0
arennames                  0
newfeature                 0
dtype: int64

In [ ]:
#lis elemnts for single column 
datasetfile['ArabicName'].unique()

In [ ]:
datasetfile['ArabicName'].nunique() #show elents number in thes column

In [ ]:
datasetfile['ArabicName'].value_counts()

In [ ]:
#data selection

In [ ]:
#columns manuplation

In [ ]:
df=pd.DataFrame(datasetfile)
df['newfeature']=df['ArabicName'] + df['EnglishName'] #this add new column to the data
df2=df['ArabicName'] + df['EnglishName'] #make new dataframe containes only tow column
df,df2

In [ ]:
newcompy_of_data=datasetfile.copy() #makes compy of original dataset
newcompy_of_data

In [ ]:
#rename columns

In [ ]:
newcompy_of_data.rename(columns={'ArabicName':'Aarab','MotherName':'mother','PhoneNumber':'phonw'})#this will rename exist columns to new name

In [ ]:
#column selection

In [ ]:
newcompy_of_data.drop('ArabName', inplace=True,axis=1)

In [ ]:
newcompy_of_data.shape

In [ ]:
newcompy_of_data.info()

In [ ]:
selected_columns=['Camp','FSP','IndividualId']
newcompy_of_data.drop(selected_columns, inplace=True,axis=1)

In [ ]:
newcompy_of_data.shape